<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="loading" class="ion-text-center">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="!loading">
    <ion-radio-group
      [value]="measurement"
      (ionChange)="onMeasurementChange($event.detail.value)"
    >
      <ion-item>
        <ion-label>Metric</ion-label>
        <ion-radio slot="end" value="metric"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>US</ion-label>
        <ion-radio slot="end" value="us"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
