<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">{{ studentNumber }}</ion-title>

    <ion-buttons slot="end">
  <ion-button fill="clear" (click)="goToFavourites()">
    <ion-icon slot="icon-only" [icon]="heartIcon" style="font-size:22px" color="light"></ion-icon>
  </ion-button>

  <ion-button fill="clear" (click)="goToSettings()">
    <ion-icon slot="icon-only" [icon]="settingsIcon" style="font-size:22px" color="light"></ion-icon>
  </ion-button>
</ion-buttons>

  </ion-toolbar>
</ion-header>

<!--addition of extra, clearer buttons to navigate the app-->
<ion-content class="ion-padding">
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="primary" (click)="goToHome()">
        Home
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button expand="block" color="danger" (click)="goToFavourites()">
        Favourites
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button expand="block" color="medium" (click)="goToSettings()">
        Settings
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-item>
    <ion-label position="stacked">Enter Ingredients</ion-label>
    <ion-input
      [(ngModel)]="ingredients"
      placeholder="carrots,beef,potatoes">
    </ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="search()">
    Search
  </ion-button>

  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>

  <div class="ion-margin-top" *ngIf="loading">
    <ion-spinner></ion-spinner>
    <p>Loading recipes...</p>
  </div>

  <ion-list *ngIf="!loading && results.length">
    <ion-item *ngFor="let r of results">
      <ion-thumbnail slot="start">
        <img [src]="r.image" [alt]="r.title" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ r.title }}</h2>
      </ion-label>

      <ion-button slot="end" (click)="openDetails(r.id)">
        Details
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
